[package]
name = "protect-ffi"
version = "0.1.0"
license = "ISC"
edition = "2021"
exclude = ["index.node"]

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cipherstash-client = { version = "0.32.0", features = ["tokio"] }
cts-common = { version = "0.4.0", default-features = false }
hex = "0.4.3"
neon = { version = "1", features = ["serde", "tokio"] }
once_cell = "1.20.2"
rust_decimal = "1.37"
serde = "1.0.218"
serde_json = "1.0.139"
thiserror = "2.0.8"
tokio = { version = "1", features = ["full"] }
vitaminc-protected = { version = "0.1.0-pre4" }

[dev-dependencies]
chrono = "0.4.42"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.3"
